<header class="bg-white shadow">
	<section class="container mx-auto px-4 py-2 md:py-3">
		<div class="flex justify-between items-center">
			<!-- Title -->
			<article class="flex justify-between text-lg cursor-pointer md:text-xl font-bold">
				<img src="assets/twitter-logo-vector-png.png" alt="TwitterLogo" class="align-middle cursor-pointer w-8">
				<h1 class="font-semibold align-middle ml-6">Twitter</h1>
			</article>
			<!-- User -->
            <aside class="relative">
                <div class="bg-blue-200 text-blue-500 flex items-center justify-center rounded-full w-10 h-10 cursor-pointer">TU</div>
            </aside>
		</div>
	</section>
</header>
