@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background: linear-gradient(blue, cadetblue);
    text-align: center;
    vertical-align: middle;
    color: white;
}

h1 {
    font-size: 24pt;
    padding-top: 20px;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    font-size: 20pt;
    text-decoration: wavy;
}